* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}



.page-container {
/* Temporarily hide for quicker load time
  background-image: url(img/sign-up-background-image.jpg); */
  background-color: rgb(67, 57, 56);
  background-size: auto 110%;

  height: 100%;

  display: flex;
}

.panel {
  border: 1px solid red;
  height: 100vh;
}

.hero.panel {
  flex: 1 0 360px
}

.sign-up.panel {
  flex: 4 0 360px;
}