* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}



.page-container {
  background-image: url(img/sign-up-background-image.jpg);
  background-color: rgb(67, 57, 56);
  background-size: auto 110%;

  display: flex;
  flex-wrap: wrap;
}

.panel {
  height: 100vh;
}

.hero.panel {
  flex: 3 0 360px
}

.sign-up.panel {
  background-color: rgba(47, 42, 41, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 0 360px;
}



.sign-up-form {
  background-color: rgb(224, 224, 224);
  border-radius: 6px;

  height: 80%;
  width: 90%;
}