* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}



.page-container {
  background-image: url(img/sign-up-background-image.jpg);
  background-color: rgb(67, 57, 56);
  background-size: auto 110%;

  display: flex;
  flex-wrap: wrap;
}

.page-container > .panel {
  height: 100vh;
}

.hero.panel {
  flex: 3 0 360px
}

.sign-up.panel {
  background-color: rgba(47, 42, 41, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 0 360px;
}



.form-container {
  background-color: rgb(229, 229, 229);
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  height: 85%;
  width: 90%;
}

.form-container > .pane {
  flex: 1 1 auto;
}

.form-container > .pane:nth-child(2) {
  background-color: rgb(238, 238, 238);
  box-shadow: 0 0 8px rgb(163, 162, 162);
}

/*
.form-container > .pane:not(:first-child) {
  border-top: 1px solid rgb(177, 177, 177);
}